/* Core style */
* {
    box-sizing: border-box;
}

*:focus {
    outline: 2px dashed #FF7500;
    outline-offset: 3px;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;   
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.5px;
}

.container {
    width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

.main-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-link svg {
    display: block;
}

.logo-link:hover {
    opacity: 0.8;
}

.logo-link:active {
    opacity: 0.6;
}

.navigation-item.active a {
    position: relative;
}

.navigation-item.active::after {
    content: "";
    position: absolute;
    margin-top: 4px;
    width: 92px;
    height: 3px;
    background-color: #FF7500;
}

.main-link {
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.5px;
    padding: 10px 22px;
    background-color: #FF7500;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    transition: opacity 0.4s ease;
}

.main-link:hover {
    opacity: 0.8;
}

.main-link:active {
    opacity: 0.6;
}

.orange-line {
    margin: 0;
    margin-bottom: 40px;
    width: 80px;
    height: 3px;
    border: none;
    background-color: #FF7500;
}

.section__title {
    font-family: "Roboto-Condensed", "Roboto", "Arail", san-serif;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.5px;
    margin: 0;
    margin-bottom: 24px;
}

.section__description {
    margin: 0;
    margin-bottom: 32px;
}

/* Header section */
.header {
    border-top: 5px solid #FF7500; 
    padding: 16px 0;
}

.navigation-items {
    padding: 0;
    margin: 0;
    margin-right: 32px;
    list-style: none;
    display: flex;
}

.navigation-item {
    margin-right: 32px;
}

.navigation-item:last-child {
    margin-right: 0;
}

.navigation-item a {
    font-size: 13px;
    line-height: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    display: flex;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    transition: all 0.4s ease;
}

.navigation-item a:hover {
    color: #FF7500;
}

.navigation-item a:active {
    opacity: 0.6;
}

/* Main section */
.main-section {
    margin-bottom: 210px;
    background-color: #252420;
    color: #fff;
    height: 488px;
}

.main-section__info {
    width: 390px;
}

.main-section__img {
    width: 510px;
    height: 510px;
    border-radius: 8px;
    box-shadow: 24px 24px 0 0 rgba(255, 117, 0, 0.6);
    transform: translate(0, 40px);
}

/* Books section */
.books {
    padding-top: 30px;
    padding-bottom: 210px;
}

.book-section__title {
    font-family: "Roboto-Condensed", "Roboto", "Arail", san-serif;
    width: 440px;
    font-size: 72px;
    line-height: 1.2;
    letter-spacing: 0.5px;
    margin: 0;
    margin-bottom: 72px;
}

.book-card {
    padding: 0;
    width: 340px;
}

.book-card__title {
    font-size: 24px;
    line-height: 1.2;
    font-family: "Roboto-Condensed", "Roboto", "Arail", san-serif;
}

.book-card__icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: rgba(255, 117, 0, 0.2);
    border-radius: 50%;
}

/* Promotion section */
#promotion-container {
    padding-top: 110px;
}

.promotion {
    margin-bottom: 160px;
    border-radius: 12px;
    background-color: #252420;
    color: #fff;
    height: 420px;
}

.promotion-section {
    margin-top: 120px;
}

.promotion-flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.promotion-section__info { 
    width: 440px;
}

.promotion-section__description-wrapper {
    margin-bottom: 24px;
}

.promotion-section__description {
    margin: 0;
    margin-bottom: 12px;
}

.promotion-section__description:last-child {
    margin-bottom: 0;
}

.promotion-section__description b {
    color: #FF7500;
}

.promition-section__img {
    width: 440px;
    height: 440px;
    border-radius: 12px;
    transform: translate(0, -64px);
}

/* Footer section */
.footer {
    padding: 56px 0;
    background-color: #f8f8f8;
}

.footer-socials {
    margin: 0;
}

.footer-social {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 16px;
}

.footer-social:last-child {
    margin-right: 0;
}

.footer-social i {
    font-size: 24px;
    color: #252420;
}

.footer-social i:hover {
    color: #FF7500;
}

.footer-social i:active {
    opacity: 0.6;
}

.footer-divider {
    height: 2px;
    border: 0;
    margin-top: 40px;
    margin-bottom: 64px;
    background-color: rgba(37, 36, 32, 0.5);
}

.footer-flex {
    display: flex;
    justify-content: space-between;
}

.footer ul {
    padding: 0;
    list-style: none;
}

.footer-nav__items {
    margin: 0;
    width: 224px;
    line-height: 19px;
}

.footer-nav__item {
    margin: 0;
    margin-bottom: 16px;
}

.footer-nav__item:last-child {
    margin-bottom: 0;
}

.footer-nav__item a {
    font-size: 16px;
    line-height: 19px;
    color: #252420;
    text-decoration: none;
}

.footer-nav__item a:hover {
    color: #FF7500;
}

.footer-nav__item a:active {
    opacity: 0.6;
}